.container{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
button{
    height: 40px;
    width: 40px;
    background-color: chocolate;
    outline-style: none;
}

.btn{
    display: flex;
    width: 160px;
    flex-wrap: wrap;
}
.screen{
    display: flex;
    width: 160px;
    align-items: center;
}
input{
    width: 116px;
    height: 34px;
}
.calc{
    padding: 10px 10px 10px 10px;
    margin-right: auto;
    background-color: coral;
}